includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - packages/inetstudio/workflow/entities/schemes/src

    level: 8

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
            - '/Parameter #1 \$wrappedType of static method GraphQL\\Type\\Definition\\Type::nonNull\(\) expects \(callable\(\): mixed\)\|GraphQL\\Type\\Definition\\NullableType, GraphQL\\Type\\Definition\\Type given/'
